body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.center-text {
    text-align: center;
}

#error-detail {
    display: block;
    margin-top: 1em;
    font-size: 20px;
}


.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

#response {
    font-size: 35pt;
    color: #848484;
}

.response-margin {
    margin-top: 4rem;
}

#submit-btn {
    margin-top: 1rem;
}

#url-input {
    margin-top: 2rem;
}



@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
