body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.center-text {
    text-align: center;
}

#response {
    font-size: 35pt;
    color: #848484;
}

.response-margin {
    margin-top: 4rem;
}

#submit-btn {
    margin-top: 1rem;
}

#url-input {
    margin-top: 2rem;
}
